body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  max-width: 100vw;
}

.game-tile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: white;
}

.game-board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-bottom-edge {
  border-bottom: black 5px solid;
}

.tile-right-edge {
  border-right: black 5px solid;
}

.tile-left-edge {
  border-left: black 5px solid;
}

.markers {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
