.body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  max-height: 100vh;
  max-width: 100vw;
}

.game-header {
  height: 10vh;
}

#switch-game {
  text-align: center;
}

.game-tile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: white;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.game-board {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-bottom-edge {
  border-bottom: black 5px solid;
}

.tile-right-edge {
  border-right: black 5px solid;
}

.tile-left-edge {
  border-left: black 5px solid;
}

.markers {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.player-container {
  width: 50vw;
  display: flex;
  justify-content: space-between;
}

.player-name-flash {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.input-visible {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.input-inner-styling {
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#hidden {
  display: none;
}

/* flash and fade-in animation*/

.flash {
  animation-name: flash;
}

@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.lower-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 25vh;
  width: auto;
}

.fade-in {
  animation-name: fade-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/* all the color scheme information here */

.color-box-container {
  height: auto;
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.color-wrapper {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.color-boxes {
  height: 50px;
  width: 50px;
}

#scheme1-color1 {
  background-color: #4abdac;
}
#scheme1-color2 {
  background-color: #fc4a1a;
}
#scheme1-color3 {
  background-color: #f78733;
}
#scheme1-color4 {
  background-color: #dfdce3;
}

#scheme2-color1 {
  background-color: #96848d;
}
#scheme2-color2 {
  background-color: #6e7a92;
}
#scheme2-color3 {
  background-color: #8f99a1;
}
#scheme2-color4 {
  background-color: #d5d5d5;
}

#scheme3-color1 {
  background-color: #dc7351;
}
#scheme3-color2 {
  background-color: #092f50;
}
#scheme3-color3 {
  background-color: #ddb144;
}
#scheme3-color4 {
  background-color: #fedcd2;
}

#scheme4-color1 {
  background-color: #d7cdc7;
}
#scheme4-color2 {
  background-color: #565656;
}
#scheme4-color3 {
  background-color: #753240;
}
#scheme4-color4 {
  background-color: #c2a081;
}

/* Alkami color palette */

#scheme5-color1 {
  background-color: #9b8550;
}
#scheme5-color2 {
  background-color: #bbab86;
}
#scheme5-color3 {
  background-color: #181818;
}
#scheme5-color4 {
  background-color: #dfdce3;
}

#default-color1 {
  background-color: #ffffff;
}

#default-color2 {
  background-color: #000000;
}
