.game-tile {
  height: 50px;
  width: 50px;
  background-color: gray;
  border: black solid 1px;
}

.game-board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}
